<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-success" %>
		<%= link_to companies_path, class: "btn btn-info" do %>
			<span class="glyphicon glyphicon-left-arrow"></span> Go Back
		<%end%>
  </div>
<% end %>
