<% if @contacts %>
	<h1>Companies found for <strong><%= params[:city]%></strong>t</h1>
	<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Area</th>
      <th>City</th>
      <th>Number</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.company.name %></td>
        <td><%= contact.area %></td>
        <td><%= contact.city %></td>
        <td><%= contact.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
	<h1>No Companies found for <strong><%= params[:city]%></strong></h1>
<%end%>

